*{
    font-family: "Nunito", sans-serif;
}

nav{
    backdrop-filter: blur(10px);
}

li {
    font-size: 1.7rem;
}

header{
    background-image: url('about-us-bg.jpg');
    background-size: cover;
    background-position: left;
    height: 250px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
 }
 #heading {
    margin-top: 60px;
    color: white;
 }
 .custom-column {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

main{
    background-color: rgb(250, 241, 231);
    display: flex;
    justify-content: space-evenly;
    color: rgb(20, 20, 19);
    font-size: small;
}


.logo {
    background-color: white;
    border-radius: 3rem;
    width: 6rem;
}
.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    background-color: lavender;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-item {
    margin-left: 3rem;
    text-align: center;
}

#container-main{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(115, 186, 219);
}
.row{
    margin-top: 10px;
}
.custom-column{

    border-radius: 25px;
}
footer{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: lavender;
    text-align:center;
}

li
{
    list-style: none;
    justify-content: left;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    margin-top: 30px;
    align-items: middle;
}
