* {
    font-family: "Nunito", sans-serif;
}

nav{
    backdrop-filter: blur(10px);
}

li {
    font-size: 1.7rem;
}

.logo {
    background-color: white;
    border-radius: 3rem;
    width: 6rem;
}
.bg-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    background-color: lavender;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-item {
    margin-left: 3rem;
    text-align: center;
}

#content {
    margin-top: 25rem;
    width: 40rem;
}

.card-content {
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.card-text{
    font-size: 30px;
    color: lavender;
}